{% extends "encyclopedia/layout.html" %}
{% load crispy_forms_tags %}


{% block title %}
    New Page
{% endblock %}

{% block body %}
    <h1>New Page</h1>
    <br>
    
    <form action="{% url 'encyclopedia:newpage' %}" method="POST">
        {% csrf_token %}

        {{ formNewPage|crispy }}
        
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
    <!--
        <div class="form-group">
            <label for="page_title">Page Title</label>
            <textarea class="form-control" id="page_title" rows="1"></textarea>
        </div>
        <br>
        <div class="form-group">
            <label for="page_content">Page Content (Markdown)</label>
            <textarea class="form-control" id="page_content" rows="3"></textarea>
        </div>
        
        <button class="btn btn-light" type="submit">Submit</button>
    -->
    </form>
    
    {% if invalid_title %}
    Sorry, that page title is already taken. Try again!
    {% endif %}
{% endblock %}